@import '../shared/helper';

.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;

  > main {
    flex: 1;
    display: grid;
    grid-template:
      'box1 box4 box6' 262fr
      'box2 box5 box7' 262fr
      'box3 box5 box8' 262fr/354fr 714fr 340fr;

    > section {
      text-align: center;
    }

    > .section1 {
      grid-area: box1;
    }

    > .section2 {
      grid-area: box2;
    }

    > .section3 {
      grid-area: box3;
    }

    > .section4 {
      grid-area: box4;
    }

    > .section5 {
      grid-area: box5;
    }

    > .section6 {
      grid-area: box6;
    }

    > .section7 {
      grid-area: box7;
    }

    > .section8 {
      grid-area: box8;
    }

    .案发派出所管辖统计,
    .发案趋势分析,
    .案发时段分析,
    .犯罪人员年龄分布,
    .案发市统计,
    .犯罪年龄趋势 {
      display: flex;
      flex-direction: column;

      h2 {
        border: 1px solid #293069;
        background: #272446;
        flex-shrink: 0;
        display: inline-block;
        font-size: px(16);
      }

      .chart {
        flex-grow: 1;
      }
    }

    .案发派出所管辖统计,
    .犯罪人员年龄分布 {
      height: px(262);
    }

    .发案趋势分析,
    .案发市统计 {
      height: px(262);
    }

    .案发时段分析,
    .犯罪年龄趋势 {
      height: px(262);
    }

    .map {
      height: px(524);
      display: flex;
      flex-direction: column;
      position: relative;

      .chart {
        flex-grow: 1;
        padding: 10px 10px;
      }

      span {
        position: absolute;
        right: px(40);
        bottom: px(20);
        font-size: px(18);
      }
      footer {
        position: absolute;
        left: px(40);
        bottom: px(20);
        font-size: px(18);
      }
    }

    h1 {
      font-size: px(34);
      text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white,
        0 0 40px white;
    }

    .title {
      height: px(262);
      .divWrapper {
        display: flex;
        justify-content: space-around;
        div {
          border: px(1) solid #293069;
          background: #080a19;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: px(80);
          padding: px(20) px(20);
          span {
            margin-bottom: px(4);
          }
        }
      }
    }
  }
}
