@import "../shared/helper";

.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: black;

  > main {
    flex: 1;
    display: grid;
    grid-template:
    'box1 box4 box6' 262fr
    'box2 box5 box7' 262fr
    'box3 box5 box8' 262fr/354fr 714fr 340fr;

    > section {
      text-align: center;
    }

    > .section1 {
      grid-area: box1;
      background: pink;
    }

    > .section2 {
      grid-area: box2;
      background: #fe6462;
    }

    > .section3 {
      grid-area: box3;
      background: lightblue;
    }

    > .section4 {
      grid-area: box4;
      background: lightcoral;
    }

    > .section5 {
      grid-area: box5;
      background: pink;
    }

    > .section6 {
      grid-area: box6;
      background: lightseagreen;
    }

    > .section7 {
      grid-area: box7;
      background: lightslategray;
    }

    > .section8 {
      grid-area: box8;
      background: lightyellow;
    }

    .案发派出所管辖统计, .发案趋势分析, .案发时段分析, .犯罪人员年龄分布,.案发街道统计,.犯罪年龄趋势{
      display: flex;
      flex-direction: column;

      h2 {
        flex-shrink: 0;
        display: inline-block;
      }

      .chart {
        flex-grow: 1;
      }
    }

    .案发派出所管辖统计, .犯罪人员年龄分布 {
      height: px(262);
    }

    .发案趋势分析, .案发街道统计{
      height: px(262);
    }

    .案发时段分析,.犯罪年龄趋势 {
      height: px(262);
    }

    .map {
      height: px(524);
      display: flex;
      flex-direction: column;
      position: relative;

      .chart {
        flex-grow: 1;
        padding: 10px 10px;
      }

      span {
        position: absolute;
        right: px(40);
        bottom: px(20);
        font-size: px(18);
      }
    }



  }
}